@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {

  [data-rmiz] {
    @apply w-full h-full;
  }

  [data-rmiz-content] {
    @apply w-full h-full;
  }
}

@font-face {
  font-family: "Voga";
  src: url("./assets/fonts/CDType - Voga Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abril Display";
  src: url("./assets/fonts/Abril_Display_Regular.otf"),
    url("./assets/fonts/Abril_Display_SemiBold.otf"),
    url("./assets/fonts/Abril_Display_Bold.otf");
  /* font-weight: normal; */
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Abril Display", serif;

  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
::-webkit-scrollbar {
  display: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Voga", serif;
}

.mHisf {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ant-drawer-body {
  padding: 0 !important;
  min-width: 622px !important;
}
.ant-drawer-content-wrapper {
  width: 720px !important;
}

#container {
  scroll-snap-type: x mandatory;
}

.admin {
  font-family: "Work Sans", sans-serif;
}

.ant-modal-footer {
  display: none;
}
.ant-modal-close {
  display: none;
}

.wishlist {
  z-index: 100 !important;
}

/* hide play button in safari */
*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
